mixin book(title, author, price, img, href)
  .bs__book
    a.book__anchor(href=href) 
    img(src=img, alt=title)
    .bs__ds
      h4.bs__title #{title}
      span.bs__author #{author}
      span.bs__price #{price}